/* Hauteurs et couleurs de fond des composants */
html
{
    height : 100%;
}

body
{
    height : 100%
}

header
{
    height : 15%;
    position : relative;
}

#form{
    height : 85%;
    position : relative;
}

#reminder
{
    height : 20%;
    position : relative;
}
#identity
{
    position : absolute;
    top : 10%;
}

#balance
{
    position : absolute;
    top : 50%;
}

#add_remove_cash
{
    position : relative;
    height : 80 %;
}

h2
{
    color : rgb(13, 110, 253);
}

h3
{
    color : rgb(100, 186, 89);
}

.error
{
    color : rgb(255, 0, 0);
    font-weight : bold;
}

/*#add_cash
{
    height : 30%;
}

#remove_cash
{
    height : 30%;
}*/




