html
{
    height : 100%;
}

body
{
    height : 100%
}



.container-fluid
{
    position : relative;
    height : 70%;
}

.illustration
{
    position : relative;
    height : 50%;
    text-align : center;
}

.bouton
{
    position : relative;
    height : 50%;
    text-align : center;
}
