/* Hauteurs et couleurs de fond des composants */

bod
{
    height : 100%
}
header
{
    height : 10%;
}

#reminder
{
    height : 30%;
}

#add_cash
{
    height : 30%;
}

#remove_cash
{
    height : 30%;
}




