/* Hauteurs et couleurs de fond des composants */

body
{
    height : 100%
}
header
{
    height : 25%;
}

.form{
    height : 75%;
    position : relative;
}

#reminder
{
    height : 100%;
    position : relative;
}

.identity
{
    position : absolute;
    top : 5%;
}

.balance
{
    position : absolute;
    top : 20%;
}

.add_remove_cash
{
    position : absolute;
    top : 45 %;
}

/*#add_cash
{
    height : 30%;
}

#remove_cash
{
    height : 30%;
}*/




