html
{
    height : 100%;
}

body
{
    height : 100%
}

#menu
{
    height : 15%;
    position : relative;
}

#page
{
    height : 85%;
    position : relative;
}

#form
{
    height : 60%;
    position : relative;
    align-items : center;
}

thead
{
    background-color : #62b95a;
}

tr
{
    max-height : 100px;
}