<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="ISO-8859-1">
    <title>Add a connection</title>
    <link rel="stylesheet" href="bootstrap.min.css">
</head>

<body><div class="container">
    <div class="row justify-content-center">
        <form method="post" th:action="@{/connection}" th:object="${addConnectionForm}">
            <div class="user_to_connect_to_info">
                <label for="mail">Tapez ici l'adresse mail de la personne que vous souhaitez ajouter :</label>
                <input type="text" name="mail" id="mail" placeholder="Ex : sherlock.holmes@gmail.com"  th:field="*{mail}"/>
            </div>
            <div class="add_user_button">
                <button type="submit" class="btn btn-primary">Ajouter ce contact</button>
            </div>
        </form>
    </div>
</div>

</body>
</html>