<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<html>
<head>
	<meta charset="ISO-8859-1">
	<title>Pay My Buddy</title>
	<link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="/css/homePage.css">
</head>

<body>
	<div class="container-fluid">
		<div class="row justify-content-center illustration">
			<div class="col-xs-12 col-sm-8 align-self-center align-items-center">
				<figure class="mx-auto mb-0 text-align-center">
					<img class="img-fluid" src="img/accueilPMB.png" alt="Accueil Pay My Buddy" />
				</figure>
			</div>
		</div>
		<div class="row justify-content-around bouton">
			<div class="col-2 align-self-right align-items-center">
				<a th:href="@{/sign_up}"><button class="btn btn-primary">Create User</button></a>
			</div>
			<div class="col-2 align-self-left align-items-center">
				<a th:href="@{/login}"><button class="btn btn-primary">Log in</button></a>
			</div>
		</div>
	</div>
</body>
</html>