<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="ISO-8859-1">
  <title>Home</title>
  <link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css">
  <link rel="stylesheet" type="text/css" href="/css/home.css">
</head>

<body>
<header>
  <div th:replace="navbarMenu"></div>
</header>


<form method="post" id="form" th:action="@{/home}" th:object="${internTransForm}">
    <div class="container align-items-center" id="message">
        <div th:unless="${#strings.isEmpty(error)}">
            <div class="error">
                <p>WARNING: <span th:text="${error}"></span></p>
            </div>
        </div>
    </div>
  <div class="container align-items-center" id="reminder">
      <div class="row" id="identity">
          <h2>Welcome
              <span th:text="${currentUser.firstName}"></span>
              <span th:text="${currentUser.lastName}"></span>
          </h2>
      </div>
      <div class="row align-items-center" id="balance">
          <h3>Your Pay My Buddy Account</h3>
          <p>PMB account balance :
            <span th:text="${currentUser.pmbAccount.balance}"></span>
              euros
          </p>
      </div>
  </div>

  <div class="container align-items-center" id="add_remove_cash">
    <div class="row" id="title">
      <h3>Fund your PMB Account or withdraw money from your PMB Account</h3>
    </div>
      <div class="row" id="choice">
        <div class="col-4 signe">
            <label for="inputSigne">Fund or Withdraw:</label>
            <select name="signe" id="InputSigne" th:field="*{signe}">
                <option value="">--Please choose an option--</option>
                <option value="+">Fund</option>
                <option value="-">Withdraw</option>
            </select>
        </div>
      <div class="col-4 amount">
       <label for="inputAmount">Amount:</label>
        <input type="number" id="inputAmount" placeholder="0" th:field="*{amount}">
      </div>
      <div class="col-4 submit">
        <a th:href="@{/home}"><button class="btn btn-primary" type="submit">Fund or Withdraw</button></a>
      </div>
    </div>
  </div>
  </div>
</form>

</body>