<!DOCTYPE html>
<html>
<head>
	<meta charset="ISO-8859-1">
	<title>Pay My Buddy</title>
	<link rel="stylesheet" href="bootstrap.min.css">
</head>

<body>
	<div class="container">
		<div class="row justify-content-center">
			<form>
				<div class="illustration">
					<figure class="mx-auto mb-0">
						<img class="scaled" src="logoPMB.png" alt="Logo de Pay My Buddy" />
					</figure>
				</div>
				<div class="mail">
					<label for="inputMail"></label> <input type="email"
						class="form-control" id="inputMail" placeholder="Email">
				</div>
				<div class="password">
					<label for="inputPassword"></label> <input type="password"
						class="form-control" id="inputPassword" placeholder="Password">
				</div>
				<div class="remember"></div>
				<div class="login">
					<button type="submit" class="btn btn-primary">Login</button>
				</div>
			</form>
		</div>


	</div>

</body>
</html>