<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="ISO-8859-1">
  <title>Menu</title>
  <link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css">
  <link rel="stylesheet" type="text/css" href="/css/menu.css">
</head>

<body>
<div class="container-fluid menu">
  <div class="row" >
    <div class="col nav">
      <nav class="navbar navbar-expand-lg">
        <a class="navbar-brand justify-content-left mr-auto" href="#">
          <img class="scaled" src="img/logoPMB.png" alt="Logo de Pay My Buddy" />
        </a>
        <ul class="navbar-nav justify-content-right ml-auto">
          <li class="nav-item">
            <a class="nav-link active" href="home">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="transfer?page=1">Transfer</a>
          </li>
          <li class="nav-item">
          <a class="nav-link" href="profile">Profile</a>
        </li>
          <li class="nav-item">
            <a class="nav-link" href="connection">Contact</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="logoff">Log off</a>
          </li>
        </ul>
      </nav>
    </div>
  </div>
</div>
</body>