<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="ISO-8859-1">
  <title>Transfer</title>
  <link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css">
  <link rel="stylesheet" type="text/css" href="/css/transfer.css">
</head>

<body>
  <div id="menu" th:replace="navbarMenu"></div>

  <div class="container" id="page">
    <div class="row" id="transaction">
      <form method="post" th:action="@{/transfer}" th:object="${externTransForm}">
        <div class="row" id="message">
          <div th:unless="${#strings.isEmpty(error)}">
            <div class="error">
              <p>WARNING: <span th:text="${error}"></span></p>
            </div>
          </div>
        </div>
        <div class="row justify-content-between" id="first_row">
          <div class="col-4 align-self-center send_money">
            <h1>Send Money</h1>
          </div>
          <div class="col-4 align-self-center send_button">
            <a th:href="@{/connection}"><button class="btn btn-primary" type="submit">Add Connection</button></a>
          </div>
        </div>
        <div class="row justify-content-between" id="second_row">
          <div class="col-xs-12 col-sm-3 align-self-center  align-item-center selectConnection">
            <select class="select align-item-center" th:field="*{mailOfCrediter}">
              <option th:if="${currentUser.contacts.empty}" value="">--Need connection--</option>
              <option value="">Selection A Connection</option>
              <option th:each="contact : ${currentUser.contacts}" th:value="${contact.mail}" th:utext="${contact.firstName}"></option>
            </select>
          </div>
          <div class="col-xs-12 col-sm-3 align-self-center align-item-center description">
            <input type="text" id="inputDescription" placeholder="Description..." th:field="*{description}">
          </div>
          <div class="col-xs-12 col-sm-3 align-self-center align-item-center amount">
            <input type="number" id="inputAmount" placeholder="0" th:field="*{amount}"/>
          </div>
          <div class="col-xs-12 col-sm-3 align-self-center align-item-center pay">
            <a th:href="@{/transfer}"><button class="btn btn-primary" type="submit"> Pay </button></a>
          </div>
        </div>
      </form>
    </div>

    <div class="row" id="historic">
      <div class="title">
        <h1>My Transactions</h1>
      </div>
      <table class="table table-striped">
        <thead class="thead-light text-align-center">
          <tr>
            <th scope="col">Connections</th>
            <th scope="col">Description</th>
            <th scope="col">Date</th>
            <th scope="col">Amount</th>
          </tr>
        </thead>
        <tbody class="text-align-center">
          <tr th:if="${currentUser.pmbAccount.extDebitTransactions.empty}">
            <td colspan="4">No external transaction for the moment</td>
          </tr>
          <tr class="oneRow text-align-center" th:each="extTransaction : ${currentUser.pmbAccount.extDebitTransactions}">
            <td th:text="${extTransaction.creditAccount.user.mail}"></td>
            <td th:text="${extTransaction.description}"></td>
            <td th:text="${extTransaction.date}"></td>
            <td th:text="${extTransaction.amount}"></td>
          </tr>
        </tbody>
      </table>

    </div>

  </div>

</body>